<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in User</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
           Welcome!
          </ion-card-title>
          <ion-card-subtitle>
           Time to celebrate, Let's <a routerLink="/login" >Sign in</a>
          </ion-card-subtitle>
        </ion-card-header>
  <ion-card-content>
    <ion-item>
     <ion-input type="text" #email required placeholder="Email Adress"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" #password required placeholder="Password"></ion-input>
    </ion-item>
    <a expand="block"
    color="warning"
    [routerLink]="['/password-reset']">Forgot Password</a>

    <div class="bottom-section">
      <ion-button type="submit" (click)="logIn(email, password)" expand="block"
      >Login</ion-button>
    </div>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col>
        <a
          type="submit"

          (click)="authService.GoogleAuth()"
          expand="block">
          <ion-img src="/assets/btn_google_signin_light_pressed_web@2x.png"></ion-img>
        </a>
      </ion-col>
    </ion-row>
    <span> Don't have an account ? <a routerLink="/registration"> Sign Up</a></span>

 </ion-card-content>
  <!-- <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" #password required></ion-input>
  </ion-item> -->
  <!-- <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="logIn(email, password)" expand="block"
        >Login</ion-button>
    </ion-col>
  </ion-row> -->
  <!-- <ion-row>
    <ion-col>
      <ion-button
        expand="block"
        color="warning"
        [routerLink]="['/password-reset']">
        Password Reset
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
        type="submit"
        color="danger"
        (click)="authService.GoogleAuth()"
        expand="block">
        Login with Google
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content> -->
